/*        Main Navigation          */
/* Targeting all the svg */
.section-header svg
{
    fill: rgb(255, 255, 255);
}

/* Navigation wrapper */
.section-header .navigation-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    position: sticky;
    top: 0;
}

/* all header's div and h1 */
.section-header div , h1
{
    display: inline;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

/* Left side navigation */
.navigation-wrapper .lft-navigation
{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: 11px;
}

/* Right side navigation */
.navigation-wrapper .rgt-navigation
{
    display: flex;
    align-items: center;
    gap: 19px;

    margin-right: 11px;
}

*
{
    margin: 0;
    padding: 0;
}




/*        Main content          */
/* Video container */
.video-container > video
{
    height: 100vh;
    width: 100vw; 

   
}





