/* H1 Header */
header h1
{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 2rem;
}

/* Mian */
/* main
{
    display: flex;

} */

form
{
   display: grid;
   align-content: center;
   align-items: center;
}

main h2
{
    text-align: center;
    border: 1px solid rgb(61, 9, 252);
    border-radius: 90px;
    margin-top: 45px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
