/* Section Header*/
header
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

    /* position: sticky;
    top: 0; */

    border: 2px dashed gold;
    border-radius: 60px;

    color: blue;
    background-color: rgb(255, 255, 255);
}

header > h1
{
    display: inline;

    font-family: sans-serif;
    font-size: 5vw;
} 


/* Main Content */
.main_content_area
{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;

    display: grid;
    justify-content: center;
}

/**/
.subject_selection ul
{
    margin-right: 30vw;
    padding: 10px;
}

.subject_selection ul > li
{
    padding-top: 12px;
    padding-left: 5px;

    font-size: larger;
}

fieldset
{
    border-color: aqua;
}

fieldset > legend
{
    font: 300;
    font-family: sans-serif;
    font-size: larger;
    color: rgb(16, 17, 17);
}

